##  pandas is open source data analysis library for the python programming laguage

# The Data Process = traitement des données

# 1-Ideation hypothesis

# 2-Retrieval (récuperation)  find data to try and support your hypothesis

In [36]:
import pandas as pd
url='./data/msft.csv'
d=pd.read_csv(url)  #,index_col=0
d.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

# 3-Preparation

# 4-Exploration

# 5-Modeling

# 6-Presentation

# 7-Reproduction

In [63]:
import numpy as np 
x=np.arange(1,6)
y=np.arange(2,7)

In [64]:
type(x)

numpy.ndarray

In [65]:
print(x)

[1 2 3 4 5]

In [66]:
z=pd.DataFrame(x,y)

In [67]:
type(z)

pandas.core.frame.DataFrame

In [68]:
z

   0
2  1
3  2
4  3
5  4
6  5