In [1]:
import pandas as pd

In [2]:
s = pd.Series(['pizza', 42])

In [3]:
s

0    pizza
1       42
dtype: object

In [4]:
s = pd.Series(['pizza', 42], index=['food', 'number'])

In [5]:
s

food      pizza
number       42
dtype: object

In [6]:
s['food']

'pizza'

In [7]:
sci = pd.DataFrame({
    'name': ['fanklin', 'gosset'],
    'job': ['chem', 'stats']
})

In [8]:
sci

      name    job
0  fanklin   chem
1   gosset  stats

In [9]:
scientists = pd.read_csv('../data/scientists.csv')

In [10]:
scientists['Age'].describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [11]:
scientists['Age'] * 10

0    370
1    610
2    900
3    660
4    560
5    450
6    410
7    770
Name: Age, dtype: int64

In [12]:
scientists['Age'] + scientists['Age']

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64