In [1]:
import pandas as pd
import seaborn as sns

In [7]:
tips = sns.load_dataset('tips')
#dir(sns.load_dataset())

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [8]:
tips.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.7 KB

In [9]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [10]:
tips.memory_usage()

Index           80
total_bill    1952
tip           1952
sex            340
smoker         340
day            436
time           340
size          1952
dtype: int64

In [11]:
tips.memory_usage(deep=True)

Index           80
total_bill    1952
tip           1952
sex            448
smoker         443
day            645
time           449
size          1952
dtype: int64

In [12]:
tip_sub_miss = tips.head().copy()

In [13]:
tip_sub_miss

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
tip_sub_miss.loc[[1, 3], 'total_bill'] = 'missing'

In [15]:
tip_sub_miss.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [16]:
tip_sub_miss

  total_bill   tip     sex smoker  day    time  size
0      16.99  1.01  Female     No  Sun  Dinner     2
1    missing  1.66    Male     No  Sun  Dinner     3
2      21.01  3.50    Male     No  Sun  Dinner     3
3    missing  3.31    Male     No  Sun  Dinner     2
4      24.59  3.61  Female     No  Sun  Dinner     4

In [18]:
tip_sub_miss['total_bill'].astype(str)

0      16.99
1    missing
2      21.01
3    missing
4      24.59
Name: total_bill, dtype: object

In [19]:
str(4)

'4'

In [20]:
float(4)

4.0

In [21]:
tip_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [45]:
pd.to_numeric(tip_sub_miss['total_bill'], errors='coerce')

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
Name: total_bill, dtype: float64

In [25]:
tip_sub_miss['total_bill'] = pd.to_numeric(tip_sub_miss['total_bill'],errors='coerce')

In [26]:
tip_sub_miss

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1         NaN  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3         NaN  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [27]:
tip_sub_miss.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [28]:
tip_sub_miss.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
total_bill    3 non-null float64
tip           5 non-null float64
sex           5 non-null category
smoker        5 non-null category
day           5 non-null category
time          5 non-null category
size          5 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 1.2 KB

In [30]:
tip_sub_miss['sex'] = tip_sub_miss.sex.astype(str)

In [31]:
tip_sub_miss.dtypes

total_bill     float64
tip            float64
sex             object
smoker        category
day           category
time          category
size             int64
dtype: object

In [32]:
tip_sub_miss.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
total_bill    3 non-null float64
tip           5 non-null float64
sex           5 non-null object
smoker        5 non-null category
day           5 non-null category
time          5 non-null category
size          5 non-null int64
dtypes: category(3), float64(2), int64(1), object(1)
memory usage: 1.3 KB

In [33]:
tip_sub_miss['sex'] = tip_sub_miss.sex.astype('category')

In [35]:
tip_sub_miss.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
total_bill    3 non-null float64
tip           5 non-null float64
sex           5 non-null category
smoker        5 non-null category
day           5 non-null category
time          5 non-null category
size          5 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 1.2 KB

In [37]:
tip_sub_miss['sex'].cat.codes

0    0
1    1
2    1
3    1
4    0
dtype: int8

In [38]:
import numpy as np

In [46]:
np.NaN

nan

In [47]:
np.NAN

nan

In [48]:
np.nan

nan

In [42]:
from numpy import NaN, nan, NAN

In [43]:
NaN

nan

In [44]:
# don't do this
# from numpy import *