In [1]:
def my_function():
    # do stuff
    print('hello')

In [2]:
my_function()

hello

In [3]:
def my_add(x, y):
    return x + y

In [4]:
my_add(3, 5)

8

In [5]:
import seaborn as sns

In [6]:
tips = sns.load_dataset('tips')

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips['subtotal'] = tips['total_bill'] - tips['tip']

In [9]:
import numpy as np
import pandas as pd

def my_sub(x, y):
    return x - y

In [10]:
tips['subtotal'] = my_sub(tips['total_bill'], tips['tip'])

In [11]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  subtotal
0       16.99  1.01  Female     No  Sun  Dinner     2     15.98
1       10.34  1.66    Male     No  Sun  Dinner     3      8.68
2       21.01  3.50    Male     No  Sun  Dinner     3     17.51
3       23.68  3.31    Male     No  Sun  Dinner     2     20.37
4       24.59  3.61  Female     No  Sun  Dinner     4     20.98

In [12]:
def my_print(x):
    print(x)

In [13]:
tips = tips.head().copy()

In [14]:
tips.apply(my_print)

0    16.99
1    10.34
2    21.01
3    23.68
4    24.59
Name: total_bill, dtype: float64
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
Name: tip, dtype: float64
0    Female
1      Male
2      Male
3      Male
4    Female
Name: sex, dtype: category
Categories (2, object): [Male, Female]
0    No
1    No
2    No
3    No
4    No
Name: smoker, dtype: category
Categories (2, object): [Yes, No]
0    Sun
1    Sun
2    Sun
3    Sun
4    Sun
Name: day, dtype: category
Categories (4, object): [Thur, Fri, Sat, Sun]
0    Dinner
1    Dinner
2    Dinner
3    Dinner
4    Dinner
Name: time, dtype: category
Categories (2, object): [Lunch, Dinner]
0    2
1    3
2    3
3    2
4    4
Name: size, dtype: int64
0    15.98
1     8.68
2    17.51
3    20.37
4    20.98
Name: subtotal, dtype: float64

total_bill    None
tip           None
sex           None
smoker        None
day           None
time          None
size          None
subtotal      None
dtype: object

In [15]:
tips.apply(my_print, axis=1)

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
subtotal       15.98
Name: 0, dtype: object
total_bill     10.34
tip             1.66
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
subtotal        8.68
Name: 1, dtype: object
total_bill     21.01
tip              3.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
subtotal       17.51
Name: 2, dtype: object
total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
subtotal       20.37
Name: 3, dtype: object
total_bill     24.59
tip             3.61
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
subtotal       20.98
Name: 4, dtype: object

0    None
1    None
2    None
3    None
4    None
dtype: object

In [16]:
tips.apply(my_add)

TypeError: ("my_add() missing 1 required positional argument: 'y'", 'occurred at index total_bill')

In [ ]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})
df

In [ ]:
def my_add_3(vec):
    x = vec[0]
    y = vec[1]
    z = vec[2]
    return x + y + z

In [ ]:
df.apply(my_add_3)

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})
df

In [ ]:
tips

In [ ]:
from tqdm import tqdm
from time import sleep

In [ ]:
tqdm.pandas()

In [ ]:
def convert_money(money):
    sleep(.5)
    return money * 606.36

In [ ]:
tips['colones'] = tips['total_bill'].apply(convert_money)

In [ ]:
tips['colones'] = tips['total_bill'].progress_apply(convert_money)

In [ ]:
tips

In [17]:
def my_avg_2(x, y):
    return (x + y) / 2

In [18]:
my_avg_2(df['a'], df['b'])

NameError: name 'df' is not defined

In [19]:
def avg_2_mod(x, y):
    if(x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [20]:
avg_2_mod(df['a'], df['b'])

NameError: name 'df' is not defined

In [21]:
vec_avg_2_mod = np.vectorize(avg_2_mod)

In [22]:
vec_avg_2_mod(df['a'], df['b'])

NameError: name 'df' is not defined

In [23]:
@np.vectorize
def avg_2_mod(x, y):
    if(x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [24]:
#df['c'] = avg_2_mod(df['a'], df['b'])

In [25]:
df

NameError: name 'df' is not defined

In [36]:
import numba
import pandas as pd
import numpy as np

In [37]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})
df

    a   b
0  10  20
1  20  30
2  30  40

In [38]:
@numba.vectorize
def avg_2_mod_numba(x, y):
    print(x)
    if(x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [39]:
avg_2_mod_numba(df['a'].values, df['b'].values)

array([ 0., nan,  0.])

In [40]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [45]:
# df['a'].apply(function_here)

In [46]:
l = lambda x : x + 2

In [47]:
l(3)

5