In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [6]:
tips.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.7 KB

In [5]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [8]:
tips.memory_usage()

Index           80
total_bill    1952
tip           1952
sex            340
smoker         340
day            436
time           340
size          1952
dtype: int64

In [7]:
tips.memory_usage(deep=True)

Index           80
total_bill    1952
tip           1952
sex            448
smoker         443
day            645
time           449
size          1952
dtype: int64

In [9]:
tips['sex_str'] = tips['sex'].astype(str)

In [8]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [9]:
tips_sub_miss = tips.head().copy()

In [10]:
tips_sub_miss.loc[[1, 3], 'total_bill'] = 'missing'

In [16]:
tips_sub_miss

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female

In [12]:
tips_sub_miss.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [11]:
tips_sub_miss['total_bill'].astype(float)Ma

ValueError: could not convert string to float: 'missing'

In [18]:
pd.to_numeric(tips_sub_miss['total_bill'])

ValueError: Unable to parse string "missing" at position 1

In [13]:
tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'], errors='coerce')

In [14]:
tips_sub_miss

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1         NaN  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3         NaN  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
tips_sub_miss.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [16]:
tips_sub_miss.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
total_bill    3 non-null float64
tip           5 non-null float64
sex           5 non-null category
smoker        5 non-null category
day           5 non-null category
time          5 non-null category
size          5 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 1.2 KB

In [18]:
tips_sub_miss['sex'] = tips_sub_miss.sex.astype(str)

In [19]:
tips_sub_miss.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
total_bill    3 non-null float64
tip           5 non-null float64
sex           5 non-null object
smoker        5 non-null category
day           5 non-null category
time          5 non-null category
size          5 non-null int64
dtypes: category(3), float64(2), int64(1), object(1)
memory usage: 1.3 KB

In [24]:
tips_sub_miss['sex'] = tips_sub_miss.sex.astype('category')

In [25]:
tips_sub_miss.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
total_bill    3 non-null float64
tip           5 non-null float64
sex           5 non-null category
smoker        5 non-null category
day           5 non-null category
time          5 non-null category
size          5 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 1.2 KB

In [26]:
tips_sub_miss['sex'].cat.codes

0    0
1    1
2    1
3    1
4    0
dtype: int8