In [1]:
import pandas as pd

In [2]:
docs = pd.read_csv('../data/doctors.csv', header=None)

In [3]:
docs

                               0
0     William Hartnell (1963-66)
1    Patrick Troughton (1966-69)
2          Jon Pertwee (1970 74)
3            Tom Baker (1974-81)
4        Peter Davison (1982-84)
5          Colin Baker (1984-86)
6      Sylvester McCoy (1987-89)
7             Paul McGann (1996)
8   Christopher Eccleston (2005)
9        David Tennant (2005-10)
10          Matt Smith (2010-13)
11     Peter Capaldi (2014-2017)
12        Jodie Whittaker (2017)

In [5]:
import re

In [6]:
p = re.compile('\w+\s+\w+')

In [7]:
def get_name(s, pattern):
    return pattern.match(s).group()

In [8]:
docs['name_fun'] = docs[0].apply(get_name, pattern = p)

In [10]:
docs['name_lamb'] = docs[0].apply(lambda x: p.match(x).group())

In [11]:
docs

                               0               name_fun              name_lamb
0     William Hartnell (1963-66)       William Hartnell       William Hartnell
1    Patrick Troughton (1966-69)      Patrick Troughton      Patrick Troughton
2          Jon Pertwee (1970 74)            Jon Pertwee            Jon Pertwee
3            Tom Baker (1974-81)              Tom Baker              Tom Baker
4        Peter Davison (1982-84)          Peter Davison          Peter Davison
5          Colin Baker (1984-86)            Colin Baker            Colin Baker
6      Sylvester McCoy (1987-89)        Sylvester McCoy        Sylvester McCoy
7             Paul McGann (1996)            Paul McGann            Paul McGann
8   Christopher Eccleston (2005)  Christopher Eccleston  Christopher Eccleston
9        David Tennant (2005-10)          David Tennant          David Tennant
10          Matt Smith (2010-13)             Matt Smith             Matt Smith
11     Peter Capaldi (2014-2017)          Peter Capaldi          Peter Capaldi
12        Jodie Whittaker (2017)        Jodie Whittaker        Jodie Whittaker