In [2]:
l = [1, 2, 3]

In [3]:
for element in l:
    print(element)

1
2
3

In [6]:
for element in l:
    print(element + 1)
    print('hello')
print('end')

2
hello
3
hello
4
hello
end

In [9]:
new_list = []
for element in l:
    new_value = element * 10
    new_list.append(new_value)
new_list

[10, 20, 30]

In [10]:
new_list = []
for element in l:
    new_list.append(element * 10)
new_list

[10, 20, 30]

In [14]:
#list(map(lambda x: x * 10, l))

In [16]:
new_list_comp = [element * 10 for element in l]
new_list_comp

[10, 20, 30]

In [26]:
import glob
import pandas as pd

In [24]:
file_list = glob.glob('../data/concat*.csv')
file_list

['../data\\concat_1.csv', '../data\\concat_2.csv', '../data\\concat_3.csv']

In [29]:
# use a loop
# load each of the concat datasets from glob into a list
# concat the list of dataframes

file_list = glob.glob('../data/concat*.csv')
file_list
dataframes = []
for file in file_list:
    dataframes.append(pd.read_csv(file))
dataframes

df_concat = pd.concat(dataframes)
df_concat

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [32]:
df_concat = pd.concat([pd.read_csv(f) for f in file_list])
df_concat

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [30]:
# do the same thing as a list comprehension

In [21]:
import random

In [22]:
random.randint(1, 16)

5

In [23]:
random.randint(1, 16)

2